.metadata/
trabajoPractico1/bin/
trabajoPractico1/.settings/
trabajoPractico1/.classpath
trabajoPractico1/.project
trabajoPractico2.1/bin/
trabajoPractico2.1/.settings/
trabajoPractico2.1/.classpath
trabajoPractico2.1/.project
trabajoPractico3/bin/
trabajoPractico3/.settings/
trabajoPractico3/.classpath
trabajoPractico3/.project